* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111827;
  color: white;
}

.navbar {
  background: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
}

.logo {
  color: #38bdf8;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

input {
  padding: 8px;
}

button {
  padding: 8px 14px;
  cursor: pointer;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

  gap: 20px;
  padding: 20px;
}

.movie-card {
  background: #1f2937;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.movie-card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.details-container {
  padding: 20px;
}

.details-container img {
  border-radius: 10px;
}

.movie-card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 30px;
}

.pagination button {
  background: #00bfff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}
